---

---

<script>
  const menuItems = document.querySelectorAll('a'); // Notice it's menuItems (plural)
  const mobileMenu = document.getElementById('mobile-menu');

  // Loop through each menu item
  menuItems.forEach((item) => {
    item.addEventListener('click', () => {
      mobileMenu.classList.add('hidden'); // This hides the mobile menu
    });
  });
</script>

<section
  class='h-screen hidden bg-yellow-400 absolute z-30 left-0 right-0 bottom-0 top-28'
  id='mobile-menu'
>
  <ul
    class='px-10 text-white bg-yellow-400 font-customFont text-2xl flex flex-col text-center'
  >
    <li class='border-b border-yellow-500 py-10'>
      <a id='menu-item' href='/'>Home</a>
    </li>
    <li class='border-b border-yellow-500 py-10'>
      <a id='menu-item' href='#about'>About</a>
    </li>
    <li class='border-b border-yellow-500 py-10'>
      <a id='menu-item' href='#how-to-buy'>How to buy</a>
    </li>
    <li class='border-b border-yellow-500 py-10'>
      <a id='menu-item' href='#why-purr'>How to buy?</a>
    </li>
    <li class='border-b border-yellow-500 py-10'>
      <a id='menu-item' href='#tokenomics'>Tokenomics</a>
    </li>
  </ul>
</section>
