---
import Header from '../components/Header.astro';
import Logo from '../assets/logo.jpg';
import { Image } from 'astro:assets';
import Footer from '../components/Footer.astro';
import MobileMenu from '../containers/MobileMenu.astro';
import Hero from '../components/Hero.astro';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/logo1.webp' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Purr Cat Coin</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Lilita+One&family=Spicy+Rice&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <Header />
    <MobileMenu />
    <section class='min-h-screen bg-yellow-200'>
      <Hero />

      <section
        class='min-h-screen bg-yellow-200 py-16 px-10 md:px-24'
        id='tokenomics'
      >
        <h3
          class='spicy-rice-regular text-white text-center hidden md:flex items-center justify-center mx-auto'
        >
          Tokenomics
        </h3>

        <h5
          class='spicy-rice-regular text-white text-center text-wrap flex md:hidden mx-auto text-7xl'
        >
          Tokenomics
        </h5>

        <div class='flex justify-between items-center flex-col md:flex-row'>
          <div class='justify-center mx-auto flex flex-col items-center'>
            <article
              class='w-full md:w-full flex items-center justify-start gap-4 flex-wrap md:flex-nowrap text-white bg-yellow-400 rounded-lg border-2 border-yellow-500 p-10 text-lg my-12 flex-col md:mt-24'
            >
              <h5 class='spicy-rice-regular text-4xl md:text-5xl'>
                Total Supply:
              </h5>
              <h5 class='spicy-rice-regular text-2xl md:text-4xl text-center'>
                1,000,000,000 $PURR
              </h5>

              <h5 class='spicy-rice-regular text-4xl md:text-5xl mt-5'>
                Liquidity:
              </h5>
              <h5
                class='spicy-rice-regular text-2xl md:text-4xl text-center my-5'
              >
                300,000,000 $PURR
              </h5>

              <h5 class='spicy-rice-regular text-4xl md:text-5xl mt-5'>
                Partnerships:
              </h5>
              <h5 class='spicy-rice-regular text-2xl md:text-4xl text-center'>
                100,000,000 $PURR
              </h5>

              <h5 class='spicy-rice-regular text-4xl md:text-5xl mt-5'>
                Marketing:
              </h5>
              <h5 class='spicy-rice-regular text-2xl md:text-4xl text-center'>
                100,000,000 $PURR
              </h5>
            </article>
          </div>

          <div class='justify-center mx-auto flex flex-col items-center'>
            <article
              class='w-full md:w-full flex items-center justify-start gap-4 flex-wrap md:flex-nowrap text-white bg-yellow-400 rounded-lg border-2 border-yellow-500 p-10 text-lg my-12 flex-col md:mt-24'
            >
              <h5 class='spicy-rice-regular text-4xl md:text-5xl'>Burn:</h5>
              <h5 class='spicy-rice-regular text-2xl md:text-4xl text-center'>
                50,000,000 $PURR
              </h5>

              <h5 class='spicy-rice-regular text-4xl md:text-5xl mt-5'>
                Staking and Farming:
              </h5>
              <h5 class='spicy-rice-regular text-2xl md:text-4xl text-center'>
                150,000,000 $PURR
              </h5>

              <h5 class='spicy-rice-regular text-4xl md:text-5xl mt-5'>
                Team:
              </h5>
              <h5 class='spicy-rice-regular text-2xl md:text-4xl text-center'>
                50,000,000 $PURR
              </h5>

              <h5 class='spicy-rice-regular text-4xl md:text-5xl mt-5'>
                Ecosystem:
              </h5>
              <h5 class='spicy-rice-regular text-2xl md:text-4xl text-center'>
                250,000,000 $PURR
              </h5>
            </article>
          </div>
          <!-- <img
          src='/logo.jpg'
          class='md:w-1/3 md:ml-10 h-full my-10 rounded-full'
        /> -->
        </div>
      </section>

      <section
        id='about'
        class='bg-yellow-400 w-full min-h-screen border-t border-yellow-500 py-16 px-10 md:px-24'
      >
        <h3 class='text-white spicy-rice-regular text-center'>About</h3>
        <p class='text-white text-xl my-24'>
          PurrCoin is more than just a cryptocurrency—it’s a movement for cat
          lovers and crypto enthusiasts alike! Featuring an adorable orange
          tabby mascot and a playful, community-driven ethos, PurrCoin combines
          the charm of internet culture with the power of blockchain technology.
          <br />
          <br />

          At the heart of PurrCoin is its mission: to spread pawsitivity while
          making a real-world impact. A portion of every transaction is donated
          to animal shelters and rescue organizations, ensuring that your
          investment helps furry friends in need.
          <br />
          <br />

          Whether you're here for the memes, the mission, or the moon, PurrCoin
          is your ticket to a fun, philanthropic, and financially rewarding
          journey. So grab your treats, curl up with the community, and hodl
          like a true feline. Join the revolution—because when it comes to
          PurrCoin, we’re all paws in!
          <br />
          <br />

          🐾 <b class='text-4xl'>Features:</b>
          <br />
          <span class='list-disc text-xl'>- Community-driven growth</span>
          <br />

          <span class='list-disc text-xl'>- Support for animal shelters</span>

          <br />
          <span class='list-disc text-xl'
            >- Playful and fun branding The cutest mascot in crypto!</span
          >
          <br /><br />
          Ready to join the PurrCoin Pod? Start your journey today and help make
          the world a better place, one paw at a time!
        </p>
      </section>
      <section
        class='min-h-screen
            bg-yellow-200
            p-10
            md:p-24'
        id='how-to-buy'
      >
        <h3 class='spicy-rice-regular text-white text-center'>How to buy</h3>

        <div class='my-20 flex flex-col gap-10'>
          <article
            class='w-full flex items-center justify-start gap-10 flex-wrap md:flex-nowrap text-white bg-yellow-400 rounded-lg border-2 border-yellow-500 p-10 text-lg'
          >
            <!-- <img
              src='//images.ctfassets.net/9sy2a0egs6zh/2qy1wS5MmZOXkXn9yFlGJp/f3797a512c283e6f71450abd408b7452/mm-logo-white.svg'
            /> -->

            <div class='mt-10'>
              <h2 class='text-white spicy-rice-regular text-4xl'>
                Download Phantom
              </h2>
              <p>
                Phantom is one of the most popular crypto wallets on the $SOL
                ecosystem. You can download it on IOS and Adroid or you can even
                download the browser extension and become part of the $SOL
                ecosystem.
              </p>

              <div class='my-10'>
                <h2 class='text-white spicy-rice-regular text-4xl'>
                  Get some <span>$SOL</span>
                </h2>
                <p>
                  Once you have your Phantom Wallet installed and setup, it's
                  time to get some $SOL to start trading. You can buy some $SOL
                  at your favourite CEX and transfer it to your Phantom Wallet
                  to start trading.
                </p>
              </div>

              <div class='my-10'>
                <h2 class='text-white spicy-rice-regular text-4xl'>
                  Go to the $PURR Pool
                </h2>
                <p>
                  Once you have $SOL on your Phantom Wallet, it's time to trade
                  it for some $PURR. To do that, you can go to our Radyum Pool
                  page
                  <!-- <a
                    class='text-yellow-600 underline font-bold'
                    href='https://tonsale.finance/logo/logo.svg'>Click here</a
                  > -->
                </p>
              </div>

              <div class='mb-10'>
                <h2 class='text-white spicy-rice-regular text-4xl'>
                  Exchange <span>$SOL</span> for $PURR
                </h2>
                <p>
                  You can trade some $SOL for $PURR. We have ZERO taxes so you
                  don’t need to worry about buying with a specific slippage,
                  although you may need to use slippage during times of market
                  volatility.
                </p>
              </div>
            </div>
          </article>

          <!-- <article
            class='w-full flex items-center justify-center gap-10 flex-wrap md:flex-nowrap text-white bg-yellow-400 rounded-lg border-2 border-yellow-500 p-10 text-lg'
          >
            <img
              src='https://SOL.io/wp-content/uploads/2023/12/Image-2.svg'
              class='w-48'
            />

            <div>
              <h2 class='text-white spicy-rice-regular text-4xl'>
                Get some <span>$SOL</span>
              </h2>
              <p>
                Once you have your Phantom Wallet installed and setup, it's
                time to get some $SOL to start trading. You can buy some
                $SOL at your favourite CEX and transfer it to your Phantom
                Wallet to start trading.
              </p>
            </div>
          </article> -->

          <!-- <article
            class='w-full flex items-center justify-center gap-10 flex-wrap md:flex-nowrap text-white bg-yellow-400 rounded-lg border-2 border-yellow-500 p-10 text-lg'
          >
            <img
              src='https://SOL.io/wp-content/uploads/2023/12/Image-2.svg'
              class='w-48'
            />

            <div>
              <h2 class='text-white spicy-rice-regular text-4xl'>
                Go to the Purr Pool
              </h2>
              <p>
                Once you have $SOL on your Phantom Wallet, it's time to trade
                it for some $PURR. To do that, you can go to our Pool page
                <a
                  class='text-yellow-600 underline font-bold'
                  href='https://tonsale.finance/logo/logo.svg'>Click here</a
                >
              </p>
            </div>
          </article> -->

          <!-- <article
            class='w-full flex items-center justify-center gap-10 flex-wrap md:flex-nowrap text-white bg-yellow-400 rounded-lg border-2 border-yellow-500 p-10 text-lg'
          >
            <img
              src='/logo.jpg'
              class='w-20 rounded-full border-4 border-yellow-600'
            />

            <div>
              <h2 class='text-white spicy-rice-regular text-4xl'>
                Exchange <span>$SOL</span> for $PURR
              </h2>
              <p>
                You can trade some $SOL for $PURR. We have ZERO taxes so you
                don’t need to worry about buying with a specific slippage,
                although you may need to use slippage during times of market
                volatility.
              </p>
            </div>
          </article> -->
        </div>
      </section>
      <section
        id='why-purr'
        class='bg-yellow-400 w-full min-h-screen border-t border-yellow-500 py-16 px-10 md:px-24'
      >
        <h3 class='text-white spicy-rice-regular text-center'>
          Join the community
        </h3>
        <!-- <ul class='my-16 flex flex-col gap-10'>
          <li
            class='text-2xl md:text-3xl text-white spicy-rice-regular list-disc'
          >
            <b class='underline'>Community-Driven:</b> Purr Cat Coin is built by
            and for its community, focusing on fun and inclusivity. Joining early
            means becoming part of a passionate and growing community.
          </li>

          <li
            class='text-2xl md:text-3xl text-white spicy-rice-regular list-disc'
          >
            <b class='underline'>Fun & Lighthearted:</b> Purr Cat brings a unique,
            meme-inspired approach to crypto with its playful Cat mascot, making
            it more than just an investment—it's an enjoyable experience.
          </li>

          <li
            class='text-2xl md:text-3xl text-white spicy-rice-regular list-disc'
          >
            <b class='underline'>Low Entry Price:</b> With an affordable entry point,
            Purr Cat allows new investors to get in on the ground floor with the
            potential for significant returns as the coin gains traction.
          </li>
        </ul> -->

        <p class='text-white spicy-rice-regular text-4xl'>
          Meme inspiration: Cat memecoins are often based on popular culture or
          viral images of cats on the internet.
          <br />
          <br />
          Active and humorous community: Generally, memecoins depend on an engaged
          community that creates funny content and promotes the currency on social
          networks.
          <br />
          <br />

          High speculation: These currencies usually have very volatile prices,
          since their value depends more on popularity than on solid technical
          or economic fundamentals.
        </p>
      </section>

      <Footer />
    </section>

    <style is:global>
      * {
        scroll-behavior: smooth;
      }

      .spicy-rice-regular {
        font-family: 'Spicy Rice', serif;
        font-weight: 400;
        font-style: normal;
      }

      @font-face {
        font-family: 'SuperShiny 0v0rG';
        src: url('/fonts/SuperShiny-0v0rG.ttf') format('ttf');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      h1,
      h3,
      h4 {
        font-size: 6rem;
        line-height: 8rem;
        stroke: fdcf00;
        text-shadow:
          2px 0 #fdcf00,
          -2px 0 #fdcf00,
          0 2px #fdcf00,
          0 -2px #fdcf00,
          1px 1px #fdcf00,
          -1px -1px #fdcf00,
          1px -1px #fdcf00,
          -1px 1px #fdcf00;
      }

      h5 {
        font-size: 10rem;
        line-height: 8rem;
        stroke: yellow;
        text-shadow:
          2px 0 #fdcf00,
          -2px 0 #fdcf00,
          0 2px #fdcf00,
          0 -2px #fdcf00,
          1px 1px #fdcf00,
          -1px -1px #fdcf00,
          1px -1px #fdcf00,
          -1px 1px #fdcf00;
      }

      h2,
      span,
      li {
        text-shadow:
          2px 0 #fdcf00,
          -2px 0 #fdcf00,
          0 2px #fdcf00,
          0 -2px #fdcf00,
          1px 1px #fdcf00,
          -1px -1px #fdcf00,
          1px -1px #fdcf00,
          -1px 1px #fdcf00;
      }

      @media screen and (max-width: 768px) {
        h1,
        h3 {
          font-size: 7rem;
          text-wrap: wrap;
        }

        h5 {
          font-size: 5rem;
          text-wrap: wrap;
        }
      }

      @media screen and (max-width: 380px) {
        h1,
        h3 {
          font-size: 4rem;
          text-wrap: wrap;
        }

        h5 {
          font-size: 4rem;
          text-wrap: wrap;
        }
      }

      .lilita-one-regular {
        font-family: 'Lilita One', sans-serif;
        font-weight: 400;
        font-style: normal;
      }
    </style>
  </body>
</html>
