---

---

<footer
  class='text-center p-16 border-t-2 border-yellow-600 bg-yellow-300 text-orange-500 font-customFont'
>
  <p>&copy; 2024 by Wagmi, All rights reserved</p>

  <div>
    <a class='text-orange-500 font-semibold' href='https://x.com/PurrCoinCat'
      >Twitter</a
    >
    <a class='text-orange-500 font-semibold' href='https://t.me/purrcoinnmeme'
      >Telegram</a
    >
  </div>
</footer>

<style scoped>
  p {
    text-shadow:
      2px 0 #fdcf00,
      -2px 0 #fdcf00,
      0 2px #fdcf00,
      0 -2px #fdcf00,
      1px 1px #fdcf00,
      -1px -1px #fdcf00,
      1px -1px #fdcf00,
      -1px 1px #fdcf00;
  }
</style>
