---

---

<div class='min-h-full'>
  <div class='bg-black z-10 absolute min-w-full min-h-full opacity-60'></div>
  <section class='w-full flex flex-col items-center justify-center'>
    <h2 class='text-white text-7xl mb-10 z-10 spicy-rice-regular'>
      Say hello to
    </h2>
    <h1 class='text-white z-10 spicy-rice-regular mb-10'>PURR CAT</h1>
    <p class='text-white z-10 w-2/3 text-xl'>
      PurrCoin is the ultimate memecoin for cat lovers and crypto enthusiasts!
      Inspired by the internet's eternal love for cats, PurrCoin brings feline
      charm to the blockchain.
    </p>
    <a
      class='px-8 py-3 spicy-rice-regular bg-yellow-500 z-10 mt-10 text-white rounded-lg text-xl border-2 border-yellow-600'
      >Buy now</a
    >
  </section>
</div>

<style scoped>
  section {
    background-image: url('/logo.webp');
    min-height: 100vh;
    padding: 40px;
    /* width: 100vw; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
