---

---

<div class='min-h-full'>
  <div class='bg-black z-10 absolute min-w-full min-h-full opacity-60'></div>
  <section class='w-full flex flex-col items-center justify-center'>
    <h2 class='text-white text-7xl mb-10 z-10 spicy-rice-regular'>
      Say hello to
    </h2>
    <h1 class='text-white z-10 spicy-rice-regular mb-10'>WAGMI WHALE</h1>
    <p class='text-white z-10 w-2/3 text-xl'>
      Dive into the world of WagmiWhale, the ultimate meme coin for dreamers,
      doers, and diamond-handed whales! Combining fun, community, and financial
      freedom, WagmiWhale is your ticket to riding the waves of crypto success.
      With a cheerful vibe and unstoppable optimism, we're all gonna make it
    </p>
    <a class='px-8 py-3 bg-yellow-500 z-10 mt-10 text-white rounded-lg text-xl'
      >Buy now</a
    >
  </section>
</div>

<style scoped>
  section {
    background-image: url('../assets/logo.jpg');
    min-height: 100vh;
    padding: 40px;
    /* width: 100vw; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
